@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}






            /*===== HOME SECTION =====*/
.home{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 1.5rem;
    margin: 3rem 0 1.5rem 0;
}

.home__up{
    display: flex;
}

.home__up--left{
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    justify-content: center;
    align-items: center;
}

.home__blob{
    width: 230px;
    fill: #6e57e0;
}

.home__blob--img{
    width: 200px;
}

.home__social--media{
    margin-top: 1rem;
}

.github--logo,
.linkedin--logo,
.dribble--logo{
    width: 25px;
    fill: #6e57e0;
}

.github--logo,
.linkedin--logo,
.dribble--logo:hover{
    cursor: pointer;
    transition: all .3s ease;
}

.home__introduce{
    margin: 2rem 0 0 0;
}

.home__title{
    font-size: 2.5rem;
}

.home__subtitle{
    font-size: 20px;
    color: #6d6a7c;
    font-weight: 600;
}

.home__text{
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #6d6a7c;
}

.home__button{
    height: 70px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 1.2rem;
    background-color: #6e57e0;
    margin-bottom: 1rem;
}

.flex__button{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.home__screen--scroll{
    display: none;
}

            /*===== ABOUT SECTION =====*/
.about__section{
    margin: 3rem 1.5rem;
}

.about__headings{
    text-align: center;
}

.about__title{
    font-size: 2rem;
    margin-bottom: .5rem;
}

.about__subtitle{
    font-size: 1rem;
    color: #6d6a7c;

}

.about__data{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.about__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__container img{
    width: 230px;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    border-radius: 8px;
    object-fit: cover;
}

.about__container--details{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.about__description{
    text-align: center;
    font-size: 1rem;
    color: #6d6a7c;
}

.experience{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    margin-top: 2.5rem;
}

.experience__details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

.years__experience{
    font-size: 1.25rem;
}

.experience__description,
.description__center{
    font-size: .8rem;
    color: #6d6a7c;
}

.about__button{
    text-decoration: none;
    width: 200px;
    height: 80px;
    font-weight: 600;
    background-color: #6e57e0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.downloading--icon{
    margin-left: 5px;
}

            /*===== SKILLS SECTION =====*/

.Skills{
    padding: 0 1.5rem;
    margin-bottom: 3rem;
}

.Skills__text{
    text-align: center;
    margin: 0 0 2rem 0;
}

.Skills__text--title{
    font-size: 2rem;
    margin-bottom: .5rem;
}

.Skills__text--subtitle{
    font-size: 1rem;
    color: #6d6a7c;
}

.skills__field{
    margin: 3rem 0;
}

.field__section--details{
    margin: 3rem 0;
    
}

.section__details--headings{
    display: flex;
    position: relative;
}

.brackets, .server, .swatchbook{
    fill: #6e57e0;
    margin-top: 3px;
    width: 40px;
    margin-right: 5px;
}

.headings__text--title{
    font-size: 1rem;
}

.headings__text--subtitle{
    font-size: .8rem;
    color: #6d6a7c;
}

.section__details--headings .fa-chevron-down{
    font-size: 20px;
    position: absolute;
    top: 30%;
    right: 5%;
    color: #6e57e0;
}

.skills__section{
    margin: 3.5rem 0 1.5rem 3.5rem;
    padding-left: 3rem;
    display: none;
}

.skill__item{
    margin-top: 40px;
}

.skill__headings{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 25px;
}

.skills__bar, 
.skills__bar--css,
.skills__bar--react,
.skills__bar--javascript,
.skills__bar--python,
.skills__bar--firebase,
.skills__bar--node,
.skills__bar--php,
.skills__bar--figma,
.skills__bar--photoshop,
.skills__bar--sketch,
.skills__bar--html{
    height: 8px;
    border-radius: 0.5rem;
}

.skills__bar{
    background-color: rgb(188, 168, 207);
}

.skills__bar--react, 
.skills__bar--javascript,
.skills__bar--html,
.skills__bar--css,
.skills__bar--python,
.skills__bar--firebase,
.skills__bar--node,
.skills__bar--php,
.skills__bar--sketch,
.skills__bar--figma,
.skills__bar--photoshop,
.skills__bar--html{
    display: block;
    background-color: #6e57e0;
}

.skills__bar--html{
    width: 90%;
}

.skills__bar--react{
    width: 85%;
}

.skills__bar--css{
    width: 80%;
}

.skills__bar--javascript{
    width: 60%;
}

.skills__bar--python{
    width: 55%;
}

.skills__bar--firebase{
    width: 90%;
}

.skills__bar--node{
    width: 70%;
}

.skills__bar--php{
    width: 80%;
}

.skills__bar--sketch{
    width: 85%;
}

.skills__bar--figma{
    width: 90%;
}

.skills__bar--photoshop{
    width: 85%;
}

#none_1, #none_2{
    height: 28px;
}

#none_4, #none_3{
    background-color: white;
}


            /*===== QUALIFICATION SECTION =====*/

.qualification__section{
    padding: 1.5rem;
}

.qualification--head{
    text-align: center;
    margin-bottom: 2rem;
}

.qualification__title{
    font-size: 2rem;
    margin-bottom: .5rem;
}

.qualification__subtitle{
    font-size: 1rem;
    color: #6d6a7c;
}

.qualification__headings{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
}

.qualification__headings a{
    text-decoration: none;
    color: #6d6a7c;
}

.qualification__headings a:hover{
    color: #6e57e0;
}

.timeline__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2.5rem;
}

.timeline {
    width: 100%;
    margin-top: 30px;
    list-style-type: none;
}

.timeline__wrapper,
.timeline__wrapper--end {
    position: relative;
}

.timeline__wrapper:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 3px;
    height: 100%;
    margin-left: -11px;
    background: grey;
}

.timeline li {
    padding: 0 0 1em 0;
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.time{
    margin-top: 1rem;
    font-size: .8rem;
    color: #6d6a7c;
}

.timeline__left {
    position: relative;
    width: 150px;
    text-align: left;
    float: left; 
    left: -40px;
}

.title{
    font-size: 1rem;
}

.subtitle{
    font-size: .8rem;
    color: #6d6a7c;
}

.timeline__right {
    position: relative;
    width: 150px;
    float: right;
    right: -50px;
}

.timeline__rounder{
    position: absolute;
    background-color: #6e57e0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 43%;
}


            /*===== SERVICES SECTION =====*/
.services{
    padding: .5rem 1.5rem;
}

.services__headings{
    text-align: center;
    margin: 3rem 0;
}

.services__headings--title{
    font-size: 2rem;
    margin-bottom: .5rem;
}

.services__headings--subtitle{
    font-size: 1rem;
    color: #6d6a7c;
}

.services__data{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.services__data--boxes{
    width: 45.5%;
    height: 250px;
    padding: 5rem  0 1rem 1rem;
    box-shadow: 0 0 12px -5px rgb(0,0,0,0.50);
}

.services__data--boxes i{
    color: #6e57e0;
}

.designation__title{
    margin: 1.5rem 0;
}

.services__link{
    color: #6e57e0;
    cursor: pointer;
}

.boxes__designation--details{
    width: 400px;
    height: 300px;
    font-size: 20px;
    padding-left: 1.5rem;
    display: none;
}

.my__offers{
    position: relative;
}

.closing__icon{
    position: absolute;
    top: 10px;
    left: 320px;
    color: #6e57e0;
}

.assets{
    display: flex;
    gap: 5px;
    margin-top: 1rem;
}

.assets i{
    padding-top: 5px;
}

            /*===== PORTFOLIO SECTION =====*/
.portfolio{
    margin: 2.5rem 0;
    padding: 0 1.5rem;
}

.portfolio__container{
    position: relative;
    margin-left: 1rem;
}

.portfolio__content{
    padding: 0 1.5rem;
}

.portfolio__headings{
    text-align: center;
    margin: 3rem 0;
}

.portfolio__title{
    font-size: 2rem;
    margin-bottom: .5rem;
}

.portfolio__subtitle{
    font-size: 1rem;
    color: #6d6a7c;
}

.portfolio__content .portfolio-img{
    width: 265px;
    border-radius: 8px;
    margin-bottom: 1rem;
    justify-self: center;
}

.container__data{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.work__title{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.work__description{
    font-size: 1rem;
    color: #6d6a7c;
}

.portfolio__button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6e57e0;
    width: 120px;
    height: 55px;
    border-radius: .5rem;
    margin-top: 1rem;
}

.btn--icon:hover{
    transform: translateX(.25rem);
}

.swiper-slide a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.2rem;
}

.portfolio__button i{
    margin-left: 8px;
}

.swiper-button-next::after, 
.swiper-button-prev::after{
    content: ' ' !important;
}

.swiper-portfolio-icon{
    font-size: 1.5rem;
    color: #6e57e0;
}

.fa-chevron-left{
    margin-right: 1.5rem;
}

.fa-chevron-right{
    margin-left: 1.5rem;
}

.swiper-container .swiper-pagination-bullets{
    bottom: -3rem;    
}

.swiper-pagination-bullet-active{
    background-color: #6e57e0;
}

.swiper-pagination-bullet,
.swiper-button-prev,
.swiper-button-next{
    outline: none;
}

.swiper-pagination-portfolio{
    position: absolute;
    top: 102%;
}


    /*============= PROJECT SECTION ==============*/
.project__sec{
    text-align: center;
}

.project__background{
    background-color: #6e57e0;
    padding-top: 3rem;
    height: 641px;
}

.project__data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project__title,
.project__description{
    color: #fff;
    padding: 0 1.5rem;
}

.project__title{
    font-size: 20px;
    font-weight: 600;
    margin: 1rem 0;
}

.project__button{
    height: 60px;
    width: 140px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    margin-top: 1rem;
    text-decoration: none;
    font-weight: 600;
    color: #6d6a7c;
}

.project__img{
   justify-self: center;
}

            /*===== TESTIMONIAL SECTION =====*/

.testimonial{
    margin-top: 3rem;
    padding: 3rem 1.5rem;
}

.testimonial__headings{
    text-align: center;
    margin-bottom: 2.5rem;
}

.testimonial__headings--title{
    font-size: 2rem;
}

.testimonial__headings--subtitle{
    color: #6d6a7c;
    font-size: .8rem;
}

.swiper-wrapper{
    width: 100%;
}

.testimonial__container{
    position: relative;
}

.testimonial__box{
    margin-right: .5rem;
}

.client__about--info,
.client__info{
    display: flex;
}

.client__about--info{
    justify-content: space-between;
}

.statement{
    color: #6d6a7c;
    font-size: 1rem;
    width: 320px;
}

.client__info{
    margin-bottom: 1rem;
}

.rounder__img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.client__name{
    margin-left: 12px;
}

.client__name--title{
    font-size: 1rem;
}

.client__name--subtitle{
    font-size: .8rem;
}

.client__rate{
    font-weight: 600;
    font-size: .8rem;
    color: #6e57e0;
    margin-right: .5rem;
}

.swiper-horizontal>.swiper-pagination-bullets {
    bottom: -2.5rem!important;
    left: 0;
    width: 100%;
}

.swiper-pagination-testimonial{
    position: absolute;
}


            /*===== CONTACT ME SECTION =====*/
.contactme{
    position: relative;
    padding: 0 1.5rem;
}

.headings{
    text-align: center;
    margin: 3rem 0;
}

.headings__title{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.headings__subtitle{
    color: #6d6a7c;
    font-size: 1rem;
}

.contactme__title{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.contactme__subtitle{
    color: #6d6a7c;
}

.builder__About--info{
    margin: 2rem 0;
}

.builder__info{
    display: flex;
    gap: 1rem;
    margin-bottom: 2.5rem;
}

.icon__design{
    font-size: 40px;
    color: rgb(107, 43, 226);
}

.input__section{
    padding-top: 3rem;
}

.name__box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project__section,
.message__section,
.message__btn{
    margin-top: 2rem;
}

.name__box input,
.project__section input{
    height: 100px;
    border-radius: 5px;
}

.message__section input,
.project__section input,
.name__box input{
    background-color: #7562e010;
    font-size: 1.2rem;
    padding-left: 20px;
    display: flex;
    padding-bottom: 40px;
    border: unset;
    width: 100%;
}

.message__section input{
    height: 170px;
    border-radius: 5px;
    padding-bottom: 90px;
}

.message__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 190px;
    height: 75px;
    border: unset;
    border-radius: 8px;
    background-color: #6e57e0;
}

.message__btn input{
    background-color: #6e57e0;
    border: unset;
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
}

.message__btn i{
    color: white;
    font-weight: bold;
}

.fixed__icon{
    position: fixed;
    width: 40px;
    height: 40px;
    box-shadow: 1px 1px 25px -5px rgb(0,0,0,0.8);
    background: rgb(107, 43, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    right: 20px;
    bottom: 100px;
    color: white;
    font-size: 25px;
}



            /* ===== FOOTER ===== */
.footer{
    background-color: rgb(107, 43, 226);
    color: white;
    padding-left: 1.5rem;
    padding-top: 2rem;
    font-size: 20px;
    margin-top: 3rem;
}

input{
    outline: none;
}

.footer__content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 3rem 0;
}

.footer__designation li{
    list-style: none;
    margin-top: 2rem;
}

.bottom__side{
    position: relative;
    text-align: center;
    margin: 2rem 0;
    padding-bottom: 2.5rem;
}

.bottom__title{
    opacity: .3;
    font-size: 15px;
}

.footer__icon a{
    margin-right: 1.5rem;
    font-size: 25px;
}

.footer__icon i{
    color: white;
} 


/*======================= RESPONSIVE ==========================*/
@media screen and (min-width: 610px) {
   
    /* ===================HOME SECTION=============== */
    .home{
        flex-wrap: nowrap;
        justify-content: center;
        padding: 0 1.5rem;
        position: relative;
    }

    .home__up--left{
        margin-right: 0;
        margin-top: 2.5rem;
    }

    .home__up--right{
        position: absolute;
        right: 50px;
        top: 35px;
    }

    .home__blob{
        width: 200px;
    }

    .home__introduce{
        position: absolute;
        margin: 0;
        left: 70px;
    }

    .home__title{
        font-size: 2rem;
        margin-bottom: .5rem;
    }

    .home__text{
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;
        width: 245px;
    }

    .home__button{
        position: absolute;
        top: 200px;
        left: 70px;
    }

    /* ===================ABOUT SECTION=============== */
    .about__section{
        margin-top: 10.5rem;
        margin-bottom: 5.5rem;
        padding: 0 3.5rem;
    }

    .about__container{
        flex-direction: row;
        margin-top: 1.5rem;
    }

    .about__container img{
        width: 210px;
        margin-bottom: 0;
        margin-top: 0;
        object-fit: cover;
    }

    .about__container--details{
        margin-left: 2.5rem;
    }

    .about__description{
        width: 256px;
    }

    .experience{
        margin-top: 2rem;
        margin-bottom: .5rem;
        gap: .5rem;
    }

    .experience__details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1.5rem 0;
    }

    .about__button{
        margin-bottom: 0;
    }

        /* ===================SKILLS SECTION=============== */
    .skills__field--section{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 165px;
    }

    .field__section--details{
        margin: 1rem 0;
    }

    /* ===================QUALIFICATION SECTION============= */
    .timeline__left {
        left: 59px;
    }

    .timeline__right {
        right: 70px;
    }

    .timeline__rounder{
        left: 46.55%;
    }

    /* ===================SERVICES SECTION=============== */






    

    /* ===================PORTFOLIO SECTION=============== */
    .swiper-slide{
        display: flex;
        gap: 1.5rem;
        padding: 1rem;
    }
    
    .swiper-slide img{
        width: 250px;
    }

    /* ===================PROJECT SECTION=============== */
    .project__background{
        height: 300px;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .project__description{
        padding: 0;
        width: 260px;
    }

    /* ================TESTIMONIAL SECTION=============== */




    /* ===================CONTACT SECTION=============== */
    .contactme__down{
        display: flex;
        justify-content: space-evenly;
    }

    .name__box{
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    .project__section,
    .message__section,
    .message__button{
        margin-top: 1.25rem;
    }

    .message__section input{
        height: 210px;
        padding-bottom: 130px;
    }

    .name__box input,
    .project__section input{
        height: 80px;
    }

    .builder__About--info{
        width: 40%;
    }

    .input__section{
        width: 40%;
    }

    .contactme{
        padding: 0 1rem;
    }

    .message__button a i{
        margin-left: 3px;
    }

    .message__button{
        width: 222px;
        height: 80px;
        padding: 25px 12px 16px 12px;
    }

    /* ======================FOOTER======================== */
    .footer{
        padding-left: 2.5rem;
        display: flex;
        justify-content: flex-start;
        gap: 3rem;
        position: relative;
        height: 500px;
    }

    .footer__container{
        position: relative;
    }

    .footer__content{
        position: absolute;
        top: -70px;
        right: 1px;
    }

    .footer__icon{
        position: absolute;
        top: 250px;
        left: -21vh;
        display: flex;
    }

    .footer__designation li{
        margin-top: 2.5rem;
    }

    .bottom__side{
        position: relative;
        text-align: center;
        margin: 0;
        padding-top: 340px;
        padding-bottom: 0;
        height: 400px;
        left: -35%;
    } 

}




@media screen and (min-width: 1024px) {

            /*===== HOME SECTION =====*/
    .home__up--left{
        position: absolute;
        left: 12%;
    }

    .home__up--right{
        right: 25%;
        top: -10px;
    }

    .home__blob{
        width: 300px;
    }

    .home__introduce{
        left: 25%;
        top: 20px;
    }

    .home__text{
        width: 290px;
    }

    .home__button{
        left: 25%;
    }

    .home__screen--scroll {
        display: initial;
    }
    
    .card {
        display: flex;
    }

            /*===== ABOUT SECTION =====*/
    .about__section{
        margin-top: 23rem;    
        /* there's something wrong with this */
        margin-bottom: 5.5rem;
        padding: 0;
    }

    .about__container img{
        width: 400px;
    }

    .about__container--details{
        align-items: flex-start;
        margin-left: 5.5rem;
    }

    .about__description{
        width: 350px;
        align-items: flex-start;
        text-align: start;
    }

    .experience{
        gap: 3.5rem;
    }


            /*===== SKILLS SECTION =====*/

    
    .skills__field{
        display: flex;
        justify-content: center;
    }

    .skills__field--section{
        
    }

    .field__section--details{
        
    }

            /*===== QUALIFICATION SECTION =====*/
    .qualification__headings{
        justify-content: center;
        gap: 3rem;
    }

    .education{
        margin-right: 1.5rem;
    }

    .timeline__left { 
        left: 30%;
    }

    .timeline__right {
        right: 32%;
    }

    .timeline__rounder{
        left: 48.4%;
    }

            /*===== SERVICES SECTION =====*/

    .services__data{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 1.5rem;
    }

    .services__data--boxes{
        width: 23%;
        height: 300px;
        padding-top: 7rem;
    }


            /*===== PORTFOLIO SECTION =====*/

    .portfolio__content{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }

    .portfolio__content .portfolio-img{
        width: 380px;
        margin-bottom: 0;
        justify-self: normal;
    }

    .container__data{
        flex-wrap: wrap;
        width: 320px;
        margin-left: 5rem;
    }

    .work__title{
        font-size: 1.4rem;
    }

    .portfolio__button{
        margin-bottom: 2rem;
        height: 65px;
    }

    .fa-chevron-left{
        margin-right: 0;
    }
    
    .fa-chevron-right{
        margin-left: 0;
    }

    .swiper-pagination-portfolio{
        top: 90%;
    }

    

            /*===== PROJECT SECTION =====*/

    .project__sec{
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: start;
    }
    
    .project__background{
        border-radius: 25px;
        width: 60%;
        justify-content: space-between;
    }

    .project__data{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 3rem;
        
    }

    .project__title{
        padding: 0;
    }

    .project__description{
        padding: 0;
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .project__background img{
        margin-right: 3rem;
    }

            /*===== TESTIMONIAL SECTION =====*/

    /* .swiper-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
    } */

    .client__about--info{
        display: flex;
        justify-content: space-around;
    }
    
    .testimonial__box{
        display: flex;
        flex-direction: column;
    }
    
            /*===== CONTACT ME SECTION =====*/
    .contactme{
        padding: 0 2.5rem;
    }

    .builder__About--info{
        width: 20%;
    }

    .input__section{
        width: 40%;
    }

    .name__box{
        flex-direction: row;
        gap: 1.5rem;
    }

    .personal__info{
        width: 100%;
    }

    .message__section input{
        height: 300px;
        padding-bottom: 200px;
    }

            /* ===== FOOTER ===== */
    .footer{
        padding-left: 1.5rem;
        display: flex;
        justify-content: center;
    }

    .footer__text{
        position: absolute;
        margin-top: 30px;
        left: 255px;
    }

    .footer__container{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 2rem;
        margin-left: 3rem;
        flex-wrap: wrap;
    }

    .footer__content{
        display: flex;
        gap: 1.5rem;
        top: 0;
        right: 5px;
        margin: 0 3rem 2rem;
        padding-top: 1.5rem;
    }

    .footer__designation{
        display: flex;
    }

    .footer__designation li{
        margin: 0 1rem;
        font-weight: 500;
    }

    .footer__icon{
        position: relative;
        top: 22px;
        left: 62vh;
        gap: 1.2rem;
        display: flex;
        justify-content: center;
    }

    .bottom__side{
        position: relative;
        padding-top: 0;
        height: 250px;
    }

    .bottom__title{
        position: relative;
        right: 125px;
        bottom: -370px;
        padding-bottom: 1.5rem;
        width: 100%;
    }
}